"""Command line interface."""

import typer

from {{ module_name }} import __version__, greet

app = typer.Typer(
    name={{ project_slug | tojson }},
    help={{ (description or project_name) | tojson }},
    no_args_is_help=True,
)


def _version_callback(value: bool) -> None:
    if value:
        typer.echo(f"{{ project_slug }} {__version__}")
        raise typer.Exit


@app.callback()
def main(
    version: bool = typer.Option(
        False,
        "--version",
        "-v",
        help="Show the version and exit.",
        callback=_version_callback,
        is_eager=True,
    ),
) -> None:
    """Run the command line application."""


@app.command()
def hello(name: str = typer.Argument("world", help="Who to greet.")) -> None:
    """Print a friendly greeting."""
    typer.echo(greet(name))


if __name__ == "__main__":  # pragma: no cover
    app()
