{% if license == 'MIT' %}{% include 'template/licenses/mit.txt' %}{% elif license == 'Apache-2.0' %}{% include 'template/licenses/apache-2.0.txt' %}{% elif license == 'BSD-3-Clause' %}{% include 'template/licenses/bsd-3-clause.txt' %}{% elif license == 'GPL-3.0-or-later' %}{% include 'template/licenses/gpl-3.0.txt' %}{% endif %}
