apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: {{ project_slug }}
spec:
  template:
    spec:
      containers:
        - image: IMAGE_URI
          ports:
            - containerPort: 8000
