"""FastHTML interface."""

import os

from fasthtml.common import FastHTML, H1, P, serve

app = FastHTML()


@app.get("/")
def home():  # type: ignore[no-untyped-def]
    """Render the home page."""
    return H1({{ project_name | tojson }}), P({{ (description or project_name) | tojson }})


def main() -> None:
    """Run the FastHTML application."""
    serve(host=os.getenv("HOST", "0.0.0.0"), port=int(os.getenv("PORT", "8000")))


if __name__ == "__main__":  # pragma: no cover
    main()
