"""Selected user-facing interfaces."""

AVAILABLE = ({% for interface in interfaces %}"{{ interface }}"{% if not loop.last %}, {% endif %}{% endfor %}{% if interfaces | length == 1 %},{% endif %})
PRIMARY = "{{ primary_interface }}"

__all__ = ["AVAILABLE", "PRIMARY"]
